
<div style="width:60rem;" >
    <div class="col-lg-12">
    <div class="text-center">ADD TESTIMONIAL</div>
      
          
   
    <form action="" (ngSubmit)="addTestimonial()"  >
      <div class="form-group row">
      <label for="" class="label col-lg-2 col-form-label">Name :</label><br>
    <input class="form-control col-lg-10" type="text" name="name" id="name" [(ngModel)]="testimonialDetails.name"placeholder="name" >
 
    <label for=""class="label col-lg-2 col-form-label">Position :</label><br>
    <input class="form-control col-lg-10" type="text" name="position" id="position" [(ngModel)]="testimonialDetails.position" placeholder="Position">
    
    <label for=""class="label col-lg-2 col-form-label">Organization :</label><br>
    <input class="form-control col-lg-10" type="text"name="organization" id="organization" [(ngModel)]="testimonialDetails.organization" placeholder="Organization">
    
    <label for=""class="label col-lg-2 col-form-label">Testimonial :</label><br>
    <div class=" col-lg-10">
      <textarea rows="6" cols="95" class='width-100' id="testimonial" name="testimonial" [(ngModel)]="testimonialDetails.testimonial" ></textarea>
      </div>
    
      
        <label for="" class="label col-lg-2 col-form-label">Course_title :</label><br>
        <select class="form-control col-lg-10 " [(ngModel)]="testimonialDetails.course_title" name="course_title" id="course_title" placeholder="Course_title" > 
            <option selected>--Choose--</option>
            <option value="Full Stack Developer">Full Stack Developer</option> 
            <option value="RPA">RPA</option> 
        </select>
        <br>
    
    <label for=""class="label col-lg-2 col-form-labe">Image :</label><br>
    <input class="form-control" type="file" name="image" id="image" (change)="selectImage($event)" [(ngModel)]="testimonialDetails.image"   placeholder="Image Url"><br>
    
     <br>
    <br>

    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-primary text-center addtestimonial"> Add </button>
   </div>
      </div>
    </form>
    </div>
</div>
    
    
  
    



